[submodule "radegast"]
	path = radegast
	url = git@github.com:radegastdev/radegast.git
[submodule "libopenmetaverse"]
	path = libopenmetaverse
	url = git@github.com:openmetaversefoundation/libopenmetaverse.git
