[submodule "radegast"]
	path = radegast
	url = https://github.com/radegastdev/radegast.git
[submodule "libopenmetaverse"]
	path = libopenmetaverse
	url = https://github.com/openmetaversefoundation/libopenmetaverse.git
